<!doctype html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}{% endblock %} | pimp my gpt</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='phone.css') }}">
  {% block stylesheets %}{% endblock %}
  <script src="https://code.jquery.com/jquery-3.7.1.min.js" crossorigin="anonymous"></script>
  <script src="{{ url_for('static', filename='app.js') }}"></script>
</head>
{% block scripts %}{% endblock %}

<body>
  <nav>
    <h1><a href="{{ url_for('index') }}">pimp my gpt</a></h1>
    <ul>
      {% if g.user %}
      <li><span class="nav-username">{{ g.user['username'] }}</span>
        <div>
      <li><a href="{{ url_for('gpt.index') }}">info</a>
      <li><a href="{{ url_for('gpt.prompt') }}">gpt</a>
      <li><a href="{{ url_for('gpt.prompts') }}">log</a>
      <li><a href="{{ url_for('note.index') }}">notes</a>
      <li><a href="{{ url_for('auth.logout') }}">log out</a>
        </div>
        {% else %}
        <div>
      <li><a href="{{ url_for('auth.register') }}">register</a>
      <li><a href="{{ url_for('auth.login') }}">log In</a>
        </div>
        {% endif %}
    </ul>
  </nav>
  <section class="content">
    <header>
      {% block header %}{% endblock %}
    </header>
    {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
    {% endfor %}
    {% block content %}{% endblock %}
  </section>
  <canvas class="matrix"></canvas>
</body>

</html>