{% extends 'base.html' %}

{% block header %}
<h2>{% block title %}operations selection form{% endblock %}</h2>
{% endblock %}

{% block content %}

{% if response %}
<div id="hackers-delight">
  <input hidden id="response.enhanced-category" value="{{ enhanced_category }}" />
  <input hidden id="response.enhanced-subcategory" value="{{ enhanced_subcategory }}" />
</div>
{% endif %}

<form action=" /gpt/enhance" method="post">
  <div>
    <label class="prompt-text-label" for="prompt-text">prompt:</label>
    <textarea id="prompt-text" name="input_text" rows="4"
      placeholder="...consult your silicon overlords...politely"></textarea>
  </div>

  <div>
    <label for="main-category">Main Category:</label>
    <select id="main-category" name="main_category" onchange="showSubcategories()">
      <option value="">select a category</option>
      <option value="reductive">reductive operations</option>
      <option value="transformational">transformational operations</option>
      <option value="generative">generative operations</option>
    </select>
  </div>

  <br /><br />

  <div id="reductive-operations" style="display: none">
    <label class="subcategory-label" for="reductive-subcategory">reductive operations:</label>
    <select id="reductive-subcategory" name="reductive_subcategory" onchange="showDescription('reductive')">
      <option value="">select a subcategory</option>
      <option value="summarization">summarization</option>
      <option value="distillation">distillation</option>
      <option value="extraction">extraction</option>
      <option value="characterizing">characterizing</option>
    </select>
  </div>

  <div id="transformational-operations" style="display: none">
    <label class="subcategory-label" for="transformational-subcategory">transformational operations:</label>
    <select id="transformational-subcategory" name="transformational_subcategory"
      onchange="showDescription('transformational')">
      <option value="">select a subcategory</option>
      <option value="reformatting">reformatting</option>
      <option value="refactoring">refactoring</option>
      <option value="language-change">language change</option>
      <option value="restructuring">restructuring</option>
      <option value="modification">modification</option>
      <option value="clarification">clarification</option>
    </select>
  </div>

  <div id="generative-operations" style="display: none">
    <label class="subcategory-label" for="generative-subcategory">generative operations:</label>
    <select id="generative-subcategory" name="generative_subcategory" onchange="showDescription('generative')">
      <option value="">select a subcategory</option>
      <option value="content-generation">content generation</option>
      <option value="question-generation">question generation</option>
      <option value="code-generation">code generation</option>
      <option value="dialogue-creation">dialogue creation</option>
      <option value="scenario-building">scenario building</option>
      <option value="data-simulation">data simulation</option>
      <option value="creative-writing">creative writing</option>
      <option value="instruction-generation">instruction generation</option>
      <option value="prediction">prediction</option>
      <option value="idea-brainstorming">idea brainstorming</option>
    </select>
  </div>

  <div class="subcategory-description-container" id="subcategory-description"></div>

  {% if response %}
  <div>
    <label class="prompt-text-label" for="enhanced-prompt-text">enhanced prompt:</label>
    <textarea id="enhanced-prompt-text" name="enhanced_input_text" rows="2" cols="50">
{{ enhanced_prompt }}</textarea>
  </div>
  <div>
    <label class="prompt-text-label" for="prompt-response-text">response:</label>
    <textarea id="prompt-response-text" name="prompt_response_text" rows="2" cols="50">
{{ enhanced_response }}</textarea>
  </div>
  {% endif %}



  <div>
    <input id="last-selected" type="text" value="" hidden />
  </div>

  <br />

  <input class="pointer" type="submit" value="Submit" />
</form>
{% endblock %}