{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}edit "{{ note['title'] }}"{% endblock %}</h1>
{% endblock %}

{% block content %}
<form method="note">
  <label class="create-note-label" for="title">title</label>
  <input class="create-note-input" name="title" id="title" value="{{ request.form['title'] or note['title'] }}"
    required>
  <label class="create-note-input" for="body">body</label>
  <textarea class="create-note-textarea" name="body" id="body">{{ request.form['body'] or note['body'] }}</textarea>
  <input class="pointer" type="submit" value="save">
</form>
<form action="{{ url_for('note.delete', id=note['id']) }}" method="post">
  <input class="danger pointer" type="submit" value="delete" onclick="return confirm('are you sure?');">
</form>
{% endblock %}