* {
  margin: 0;
  padding: 0;
}
body {
  background: #000;
}
canvas {
  /* display: block; */
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.matrix {
  width: 100%;
  height: 100%;
}

html {
  font-family: monospace;
  background: #000000;
  padding: 1rem;
  height: 90%;
  width: 90%;
}

body {
  max-width: 560px;
  margin: 1rem auto;
  background: black;
  color: limegreen;
  text-transform: lowercase;
  height: fit-content;
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: lime;
  margin: 1rem 0;
}

a {
  color: lime;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

p {
  font-size: 0.9rem;
}

hr {
  border: none;
  border-top: 1px solid lightgray;
}

nav {
  background: rgb(31, 31, 31);
  display: flex;
  align-items: center;
  padding: 0.25rem 0.5rem;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

section {
  border-bottom-left-radius: 5px;
}

nav h1 {
  flex: auto;
  margin: 0;
}

nav h1 a {
  text-decoration: none;
  padding: 0.25rem 0.5rem;
}

nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li a,
nav ul li span,
header .action {
  display: block;
  padding: 0.5rem;
}

input,
textarea,
select,
button {
  background-color: black;
  color: limegreen;
  font-size: 0.9rem;
  padding: 3px 2.5px;
  min-width: 10em;
}

textarea {
  width: 100%;
  min-height: fit-content;
}

form > div {
  width: 100%;
}

.content {
  padding: 0 1rem 1rem;
}

.content > header {
  border-bottom: 1px solid lightgray;
  display: flex;
  align-items: flex-end;
}

.content > header h1 {
  flex: auto;
  margin: 1rem 0 0.25rem 0;
}

.flash {
  margin: 1em 0;
  padding: 1em;
  background: black;
  /* border: 1px solid #377ba8; */
  text-align: center;
  color: red;
}

.note > header {
  display: flex;
  align-items: flex-end;
  font-size: 0.85em;
}

.note > header > div:first-of-type {
  flex: auto;
}

.note > header h1 {
  font-size: 1.5em;
  margin-bottom: 0;
}

.note .about {
  color: slategray;
  font-style: italic;
  margin-top: 2px;
}

.note .body {
  white-space: pre-line;
}

.content:last-child {
  margin-bottom: 0;
}

.content form {
  margin: 1em 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content label {
  font-weight: bold;
  margin-bottom: 0.5em;
}

.content input,
.content textarea {
  margin-bottom: 1em;
}

.content textarea {
  /* min-height: 6em; */
  min-height: fit-content;
  resize: vertical;
}

input.danger {
  color: #cc2f2e;
}

input[type="submit"] {
  align-self: start;
  min-width: 10em;
}

.prompt-text-label {
  display: block;
}

input {
  padding: 5px 2px;
  margin: auto;
  min-width: 50%;
}

#subcategory-description {
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-style: italic;
  color: darkgreen;
  text-align: center;
}

.create-note-input {
  width: 100%;
}

.create-note-label {
  align-self: flex-start;
}

.create-note-textarea {
  width: 100%;
}

.pointer {
  cursor: pointer;
}

.prompt-reset-button-container {
  display: flex;
  justify-content: center;
}

.prompt-reset-button {
  background-color: limegreen;
  color: white;
}

.progress-bar-container {
  display: flex;
  justify-content: center;
}

.nav-username {
  color: darkgreen;
}
